<p id="notice"><%= notice %></p>

<div class="user-tab">
  <div class="user-card">
    <div class="friends">
      <h3 class="name">My friends</h3>
        <ul>
        </ul>
    </div>
  </div>

  <div class="user-card">
    <div class="friends">
      <h3 class="name">Note shared with ...</h3>
        <ul>
        </ul>
    </div>
  </div>
</div>
