html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: #105B63;

  .nav-elements {
    display: flex;
    color: #FFFAD5;
    list-style: none;

    li {
      padding-right: 20px;
      a{
        color: #FFFAD5;
        text-decoration: none;
      }
    }
  }

  .logo {
    padding-left: 20px;
    color: #FFFAD5;
  }
  .text-left{
    text-align: left;
  }
  .text-rigth{
    text-align: right;
  }
  .text-center{
    text-align: center;
  }
  .field,.top-space,.actions{
    margin-top: 1em;
  }
  .white {
    color: #ECF0F1;
  }
  .btn{

    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 50px;
    background-color: #E74C3C;
  }
  .red {
    color: #E74C3C !important;
  }
  .be-red{
    background-color: #E74C3C;
  }
  .form-control{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
  }

}
