.wrapper {
  text-align: center;
  padding: 100px;

  .form-field {
    padding: 508px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .field {
    label {
      float: left;
    }
  }

  .label-name {
    text-transform: uppercase;
    label {
      margin: 0;
    }
  }

  .input-name {
    margin-bottom: 20px;
    input {
      border: 1px solid grey;
      border-radius: 4px;
    }
    input:focus {
      background-color: #e5e5e5;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
  }
}

.log-out {
  margin-left: 15px;
}
